
.table-container,
.table-container * {
  color: #000 !important;
}

.submission-table,
.submission-table th,
.submission-table td,
.submission-table a {
  color: #000 !important;
}


.search-filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.search-input,
.filter-select,
.date-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
  flex: 1;
  min-width: 150px;
}

.search-input:focus,
.filter-select:focus,
.date-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-select {
  cursor: pointer;
}